*{
    margin: 0;
}

body{
    background-color: #f5f4ff;
}
.a{
    display: flex;
    width: 90%;
    background-color: red;
    padding: 10px 5%;
    gap: 20px;
    background-color: white;
}
.a1{
    display: flex;
    gap: 40px;
    align-items: center;
    text-align: center;

}
.a2{
    display: flex;
    width: 1000px;
    gap: 10px;
    align-items: center;
}
.a2 img{
    width: 70%;
    height: 70%;
}
.a1 img{
    width: 20%;
}
.a3{
    display: flex;
    white-space: nowrap;
    gap: 20px;
}
.a3 h3{
    font-size: 24px;
    align-content: center;
}
.a3 button{
    width: 220px;
    display: flex;
    white-space: nowrap;
    font-size: 18px;
    align-items: center;
    border: 0;
    background-color: rgb(193, 233, 193);
    border-radius: 20px 20px 20px 35px;
}

.b{
    display: flex;
    background-color: #f5f4ff;
    width: 90%;
    padding: 50px 5%;
    text-align: justify;
    align-items: center;
    gap: 30px;
    justify-content: space-evenly;
}
p{
    color: grey;
    font-size: 22px;
}
.b1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.b2{
    display: flex;
}
.b2 input{
    border: none;
    outline: none;
    background-color: #e8e5fb;
    font-size: 24px;
    padding: 20px 10px;
    border-radius: 20px 50px;
    height: 30px;
}
.b2 button{
    transform: translateX(-50%);
    border: none;
    padding: 25px 50px;
    background-color: #2f36ff;
    color: white;
    border-radius: 20px 50px;
    cursor: pointer;
    
}
.b2 img{
    width: 757px;
    height: 563px;
}

.c{
    display: flex;
    width: 90%;
    padding: 0px 5%;
    gap: 20px;
    margin-bottom: 20px;
}

.c1 p{
    font-size: 20px;
}
.c1 button{
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    width: 330px;
    gap: 20px;
    background-color: white;
    color: grey;
    border-radius: 10px;
    height: 80px;
    border: 0;
}

.d{
    padding: 0 5%;
    text-align: center;
    margin: 100px;
}
.e{
    display: flex;
    padding: 0 5%;
    gap: 200px;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}
.e1 img{
    width: 477px;
    height: 568px;
    transform: rotate(45deg);
}
.e2{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.e2 p{
    text-align: justify;
}
.e21{
    display: flex;
    gap: 20px;
}
.e21 p{
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}
.f1{
    display: flex;
    padding: 0 5%;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding-bottom: 50px;
}

.g{
    display: flex;
    padding: 0 5%;
    gap: 40px;
    flex-wrap: wrap;
}
.g1{
    /*border: 2px solid red;*/
    width: 30%;
    text-align: center;
    height: 300px;
    align-content: center;
    justify-content: center;
}
.g1 img{
    padding-bottom: 30px;
}
.g1 p{
    text-align: center;
}

.h{
    display: flex;
    padding: 0 5%;
    gap: 20px;
    height: 600px;
    align-items: center;
}
.h2{
    display: flex;
    gap: 20px;
}
.h21{
    display: flex;
    gap: 20px;
    align-items: center;
}
.h21 img{
    width: 47px;
    height: 47px;
}
.h3 img{
    width: 700px;
    height: 500px;
}
.h1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.h21 p{
    color: black;
}

.j{
    display: flex;
    padding: 20px 5%;
    background-color: #7967ff;
    height: 600px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.j p{
    color: white;
}
.j1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.j h1{
    color: white;
    font-size: 40px;
}
.j11{
    display: flex;
    gap: 20px;
}
.j2{
    display: block;
}
.j2 input{
    border: none;
    outline: none;
    background-color: #e8e5fb;
    font-size: 24px;
    padding: 10px 10px;
    border-radius: 20px 50px;
    height: 30px;
    margin-top: 15px;
}
.j2 label{
    color: white;
    font-size: 24px;
}
.j3{
    display: flex;
    gap: 20px;
}
.j3 button{
    background-color: #2dbc7c;
    border: none;
    font-size: 24px;
    padding: 10px 10px;
    border-radius: 20px 50px;
    height: 55px;
    width: 350px;
}
.j4 img{
    width: 510px;
    height: 594px;
}

.f1{
    padding-top: 80px;
}

.k{
    padding: 0 5%;
    margin-bottom: 30px;
}
.k2{
    display: flex;
    gap: 20px;
}
.k21{
    text-align: center;
    width: 24%;
    height: 350px;
    background-color: white;
    align-content: center;
    border: 2px solid white;
    border-radius: 20px;
}
.k21 img{
    padding-bottom: 20px;
}

.l{
    padding: 0 5%;
    text-align: center;
}
.l p{
    font-size: 26px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.l button{
    background-color: red;
    border: none;
    font-size: 24px;
    padding: 10px 10px;
    border-radius: 20px 50px;
    height: 55px;
    width: 350px;
    color: white;
    margin-bottom: 30px;
}

.m{
    padding: 20px 5%;
    text-align: center;
    margin-bottom: 50px;
}

/*.k{
    padding: 0 5%;
    margin-bottom: 30px;
}*/
.n{
    padding: 0 5%;
    display: flex;
    gap: 30px;
}
.n1{
    text-align: center;
    width: 50%;
    height: 350px;
    background-color: white;
    align-content: center;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 10px 5%;
}
.n1 img{
    padding-bottom: 20px;
}
.n2{
    display: flex;
    align-items: center;
    gap: 40px;
    padding-bottom: 20px;
}

.n p{
    justify-content: baseline;
}



.q{
    margin-top: 150px;
    display: flex;
    padding: 20px 5%;
    background-color: #ef6a62;
    height: 600px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.q p{
    color: white;
}
.q1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.q h1{
    color: white;
    font-size: 40px;
}
.q11{
    display: flex;
    gap: 20px;
}
.q2{
    display: block;
}
.q2 input{
    border: none;
    outline: none;
    background-color: #e8e5fb;
    font-size: 24px;
    padding: 10px 10px;
    border-radius: 20px 50px;
    height: 30px;
    margin-top: 15px;
}
.q2 label{
    color: white;
    font-size: 24px;
}
.q3{
    display: flex;
    gap: 20px;
}
.q3 button{
    background-color: gold;
    border: none;
    font-size: 24px;
    padding: 10px 10px;
    border-radius: 20px 50px;
    height: 55px;
    width: 350px;
}
.q4 img{
    width: 510px;
    height: 594px;
}
